img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

html {
    background-color: burlywood;
}

.toad {
    animation: rotate3d 10s infinite linear;
}

@keyframes rotate3d {

    25% {
        transform: rotate3d(1, 1, .2, 360deg);
    }

    50% {
        transform: rotate3d(.2, 1, 1, 0deg);
    }

    75% {
        transform: rotate3d(0, 1, .2, 360deg);
    }

    100% {
        transform: rotate3d(0, 1, 0, 0deg);
    }
}